/* * {box-sizing: border-box;}

.search-container {
  float: left;
}


.search-container button {
  float: left;
  padding: 6px 6px;
  margin-top: 8px;
  margin-left: 8px;
  background: #ddd;
  
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
} */
