* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}


.search-container {
  float: left;
}


.search-container button {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 16px;
  background: #ddd;
  
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}